html {
    background-color: #eeeedd;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    background-image: url(../Media/pictures/background-alt3.jpg);
    background-size: 100% 100%;
}

h1, h2, h3, nav {
    color: #282828;
}
 /* header */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-bottom: #000000 1px solid;
    max-height: 120px;
}

.navop {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    overflow: hidden;

}

.navop p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.title {
    display: grid;
    grid-row: 3fr;
    grid-column: 3 / 6;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.navep {
    grid-column: 7 / 8;
    overflow: hidden;
}


.navep p {
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: right;
    color: black;
}

ul {
    list-style: none;
}
/* Main */
/* About me */
#aboutme {
    display: grid;
    grid-template-columns:   1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:  0.1fr 1fr;
    border-bottom: #000000 1px solid;
}

.paragraph {
    max-width: 700px;
    grid-column: 1 /6;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Picture */
.mepicture {
    max-width: 700px;
    max-height: 700px;
    grid-column: 6 / 8;
    grid-row: 2 / 3;
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 15px;
}

.aboutmeh2 {
   max-height: 40px;

}
/* Projects */
#projectpic1 {
    display: none; /* hide the image until the clicks on js listener */
}

#p1pic {
    color: blue;
}

#p1pic:hover {
    color: purple;
    cursor: pointer;
}

#p1close {
    display: none;
    color: blue;
}

#p1close:hover {
    color: purple;
    cursor: pointer;
}

#projectpic2 {
     display: none; /* hide the image until the clicks on js listener */
}

#p2pic {
    color: blue;
}

#p2pic:hover {
    color: purple;
    cursor: pointer;
}

#p2close {
    display: none;
    color: blue;
}

#p2close:hover {
    color: purple;
    cursor: pointer;
}

#projectpic3 {
    display: none; /* hide the image until the clicks on js listener */

}

#p3pic {
    color: blue;
}

#p3pic:hover {
    color: purple;
    cursor: pointer;
}

#p3close {
    display: none;
    color: blue;
}

#p3close:hover {
    color: purple;
    cursor: pointer;
}

/* Skills */
#skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

.fa-brands {
    font-size: 48px;
    color: #282828;
    margin: 20px 0px 15px 0px;
}
/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-height: 120px;
}
.copyright p{
    display: grid;
 font-size: 12px;
 justify-content: left;
padding: 0px;
margin: 0px;
}

.footer-contact {
    text-align: center;
}

.github {
    justify-self: right;
}

/* Contact Page */
.fa-solid {
    font-size: 48px;
    color: #282828;
    margin: 20px 0px 15px 0px;
}

.fa-solid:hover {
    color: purple;
    cursor: pointer;
}

.contactform {
    padding-bottom: 500px;
    border-bottom: #000000 1px solid;   
    display: block;
}

#contactform {
    display: none;
}

.send {
    font-size: 1.5rem;
}
/* Mobile responsivness */
@media only screen and (max-width: 600px) {
    /* header */
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        max-height: unset;
    }

    .navop {
        grid-column: unset;
        grid-row: unset;
        text-align: center;
        overflow: unset;
    }

    .navep {
        grid-column: unset;
        overflow: unset;
    }

    /* About me */
    #aboutme {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .paragraph {
        max-width: unset;
        grid-column: unset;
    }

    .mepicture {
        max-width: unset;
        max-height: unset;
        grid-column: unset;
        grid-row: unset;
        margin-top: unset;
        margin-bottom: unset;
    }

    /* Projects */
    #projectpic1,
    #projectpic2,
    #projectpic3 {
        display: none;
        max-width: 100%;
        height: auto;
    }

    #p1pic,
    #p2pic,
    #p3pic {
        color: blue;
        cursor: pointer;
    }

    #p1close,
    #p2close,
    #p3close {
        display: none;
        color: blue;
        cursor: pointer;
    }

    /* Footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        max-height: unset;
    }

    .footer-contact {
        text-align: center;
    }

    .github {
        justify-self: unset;
    }

    /* Contact Page */
    .contactform {
        padding-bottom: unset;
    }
}

/* Tablet respoivness */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* header */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        max-height: unset;
    }

    .navop {
        grid-column: unset;
        grid-row: unset;
        text-align: center;
        overflow: unset;
    }

    .navep {
        grid-column: unset;
        overflow: unset;
    }

    /* About me */
    #aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .paragraph {
        max-width: unset;
        grid-column: unset;
    }

    .mepicture {
        max-width: unset;
        max-height: unset;
        grid-column: unset;
        grid-row: unset;
        margin-top: unset;
        margin-bottom: unset;
    }

    /* Projects */
    #projectpic1,
    #projectpic2,
    #projectpic3 {
        display: none;
        max-width: 100%;
        height: auto;
    }

    #p1pic,
    #p2pic,
    #p3pic {
        color: blue;
        cursor: pointer;
    }

    #p1close,
    #p2close,
    #p3close {
        display: none;
        color: blue;
        cursor: pointer;
    }

    /* Footer */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        max-height: unset;
    }

    .footer-contact {
        text-align: center;
    }

    .github {
        justify-self: unset;
    }

    /* Contact Page */
    .contactform {
        padding-bottom: unset;
    }
}